/* Universal Selector
*{
    border: 1px solid red;
}
*/

/* Tag Selector */
h1{
    background-color: green;
}

/* Id Selector # */
#a{
    color: red;
    background-color: yellow;
}

/* Class Selector . */
.b{
    /* color: blue; */
    border: 10px solid;
}

/* Group Selector 
h1, h2{
    color: blue;
}
*/

/* Descendent Selector */
div p{
    color: red;
    background-color: yellow;
}

/* Child Selector */
div > p{
    color: white;
    background-color: blue;
}

/* Atrribute Selector */
button[type="submit"]{
    color: red;
    font-size: 32px;
}


/*
.s{
    color: red;
    font-size: 32px;
}

instead we can use the below one */

/* Pseudo Classes */
li:nth-child(2) {
    color: red;
    font-size: 24px;
}

li:hover{
    color: yellow;
    background-color: red;
    font-size: 38px;
}

/* Pseudo Elements */
 #r::before{
    content: "Written By CSS"; 
 }

 .b::first-letter{
    font-size: 48px;
    color: red;
 }

 #q{
    display: block;
 }

 #q::first-letter{
    font-size: 48px;
    color: red;
 }

 #q::first-line{
    color: brown;
    font-size: 20px;
 }

 /* Box Model 

*{
    margin: 0px;
    padding: 0px;
}
    */

 h1:nth-child(1){
    border: 3px solid red;
    padding: 30px; /* Applies for All Sides */
    /* padding: 10px 30px; Top+Bottom ,  Left+Right */
    /* padding: 10px 20px 30px 40px; Top Right Bottom Left -- All Sides */
    margin: 80px;
 }