/* Universal Selector
*{
    border: 1px solid red;
}
*/

/* Tag Selector */
h1{
    background-color: green;
}

/* Id Selector # */
#a{
    color: red;
    background-color: yellow;
}

/* Class Selector . */
.b{
    /* color: blue; */
    border: 10px solid;
}

/* Group Selector 
h1, h2{
    color: blue;
}
*/

/* Descendent Selector */
div p{
    color: red;
    background-color: yellow;
}

/* Child Selector */
div > p{
    color: white;
    background-color: blue;
}

/* Atrribute Selector */
button[type="submit"]{
    color: red;
    font-size: 32px;
}


/*
.s{
    color: red;
    font-size: 32px;
}

instead we can use the below one */

/* Pseudo Classes */
li:nth-child(2) {
    color: red;
    font-size: 24px;
}

li:nth-child(2):hover{
    color: yellow;
    background-color: red;
    font-size: 38px;
}

/* Pseudo Elements */
 #r::before{
    content: "Written By CSS"; 
 }

 .b::first-letter{
    font-size: 48px;
    color: red;
 }

 #q{
    display: block;
 }

 #q::first-letter{
    font-size: 48px;
    color: red;
 }

 #q::first-line{
    color: brown;
    font-size: 20px;
 }