.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.loginForm {
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid red;
}

.loginForm h2 {
  text-align: center;
  font-size: 24px;
}
.loginForm input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.loginButton {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.loginButton:hover {
  background-color: #1e40af;
}
.register{
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 2px;
}
.register:hover{
  color: red
}